body{
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	background-color: #00A6B3;
	padding:20px 0px;
}

a {
	margin: 0 20px;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

main {
	margin: 35px auto;
	width: 850px;
}

h1,h2,nav {
	text-transform: uppercase;
}

h1{
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p, footer {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px 0px 8px;
}

img:hover {
	transform: scale(1.03);
}

footer {
	text-transform: uppercase;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}


.name {
	color: #F15B31;
	font-weight: 700;
}

button {
	margin-top: 15px;
	font-size: 15px;
	padding: 10px;
	background-color: #F15B31;
	font-family: Raleway;
	color: #FFFFFF;
	font-weight: 800;
	letter-spacing: .1em;
}

.score {
	font-family: Raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: -10px;

}
